 body {
     background:linear-gradient(to top right, blue,purple);
     background-repeat: no-repeat;
     height: 100%;
 }
 h1{
    margin: -2px;
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: "Rubik Doodle Shadow", system-ui;
 }
 h3{
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
 }

 .chess {
     margin: 50px auto ;

     height: 500px;
     width: 500px;
     border: 10px solid rgb(57, 56, 56);
     background-color: white;
 }

 .row {
     height: 62.5px;
     width: 100%;
     float: left;
 }

 .box {
     height: 62.5px;
     width: 62.5px;
     float: left;
     font-size: 35px;
     text-align: center;
 }

 .black {
     background-color: black;
     color: white;
 }

 .box:hover {
     font-size: 50px;
     text-align: center;
     justify-content: center;
 }